In [185]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression

In [186]:
clients = pd.read_csv("Cliente.csv")

In [187]:
clients.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

#### Verificar que los ID sean únicos

In [188]:
len(clients)

7043

In [189]:
clients.customerID.nunique()

7043

In [190]:
clients.gender.nunique(), clients.gender.unique()

(2, array(['Female', 'Male'], dtype=object))

#### Verificar que "Partner" es una columna binaria según lo indicado

In [191]:
clients.Partner.nunique(), clients.Partner.unique()

(2, array(['Yes', 'No'], dtype=object))

#### Verificar que "SeniorCitizen" es binario

In [192]:
clients.SeniorCitizen.nunique(), clients.SeniorCitizen.unique()

(2, array([0, 1], dtype=int64))

#### Verificar que "Dependents" es binario

In [193]:
clients.Dependents.nunique(), clients.Dependents.unique()

(2, array(['No', 'Yes'], dtype=object))

#### Verificar que "PhoneService" es binario

In [194]:
clients.PhoneService.nunique(), clients.PhoneService.unique()

(2, array(['No', 'Yes'], dtype=object))

#### Verificar que "MultipleLines" tiene 3 posibles valores

In [195]:
clients.MultipleLines.nunique(), clients.MultipleLines.unique()

(3, array(['No phone service', 'No', 'Yes'], dtype=object))

#### Verificar que "InternetService" tiene 3 posibles valores

In [196]:
clients.InternetService.nunique(), clients.InternetService.unique()

(3, array(['DSL', 'Fiber optic', 'No'], dtype=object))

#### Verificar que "OnlineSecurity" tiene 3 posibles valores

In [197]:
clients.OnlineSecurity.nunique(), clients.OnlineSecurity.unique()

(3, array(['No', 'Yes', 'No internet service'], dtype=object))

#### Verificar que "OnlineBackup" tiene 3 posibles valores

In [198]:
clients.OnlineBackup.nunique(), clients.OnlineBackup.unique()

(3, array(['Yes', 'No', 'No internet service'], dtype=object))

#### Verificar que "DeviceProtection" tiene 3 posibles valores

In [199]:
clients.DeviceProtection.nunique(), clients.DeviceProtection.unique()

(3, array(['No', 'Yes', 'No internet service'], dtype=object))

#### Verificar que "TechSupport" tiene 3 posibles valores

In [200]:
clients.TechSupport.nunique(), clients.TechSupport.unique()

(3, array(['No', 'Yes', 'No internet service'], dtype=object))

#### Verificar que "StreamingTV" tiene 3 posibles valores

In [201]:
clients.StreamingTV.nunique(), clients.StreamingTV.unique()

(3, array(['No', 'Yes', 'No internet service'], dtype=object))

#### Verificar que "StreamingMovies" tiene 3 posibles valores

In [202]:
clients.StreamingMovies.nunique(), clients.StreamingMovies.unique()

(3, array(['No', 'Yes', 'No internet service'], dtype=object))

#### Verificar que "Contract" tiene 3 posibles valores

In [203]:
clients.Contract.nunique(), clients.Contract.unique()

(3, array(['Month-to-month', 'One year', 'Two year'], dtype=object))

#### Verificar que "PaperlessBilling" tiene 2 posibles valores

In [204]:
clients.PaperlessBilling.nunique(), clients.PaperlessBilling.unique()

(2, array(['Yes', 'No'], dtype=object))

#### Verificar que "PaymentMethod" tiene 3 posibles valores

In [205]:
clients.PaymentMethod.nunique(), clients.PaymentMethod.unique()

(4,
 array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
        'Credit card (automatic)'], dtype=object))

#### Verificar que "Churn" tiene 3 posibles valores

In [206]:
clients.Churn.nunique(), clients.Churn.unique()

(2, array(['No', 'Yes'], dtype=object))

### Validar que no haya campos vacíos

In [207]:
clients.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

No hay campos vacíos

### Búsqueda de datos inconsistentes

* Hay dos casos en donde existen columnas dependientes de otras: el caso de **PhoneService** e **InternetService**.
* En estos dos casos, cuando la etiqueta es "No", las columnas subsiguientes deben tener la etiqueta **"No phone service"** o **"No internet service"** respectivamente para que sean consistentes.

#### Búsqueda de datos inconsistentes en PhoneService

In [208]:
inconsistent_data_phone = clients[(clients['PhoneService'] == 'No') & (clients['MultipleLines'] != 'No phone service')]

if not inconsistent_data_phone.empty:
    print("Datos inconsistentes encontrados respecto al servicio telefónico:")
    print(inconsistent_data_phone.customerID, inconsistent_data.PhoneService, inconsistent_data.MultipleLines)
    inconsistent_data_phone
else:
    print("No hay datos inconsistentes respecto al servicio telefónico.")

No hay datos inconsistentes respecto al servicio telefónico.

In [209]:
inconsistent_data_phone_yes = clients[(clients['PhoneService'] == 'Yes') & (clients['MultipleLines'] == 'No phone service')]

if not inconsistent_data_phone_yes.empty:
    print("Datos inconsistentes encontrados respecto al servicio telefónico:")
    print(inconsistent_data_phone_yes.customerID, inconsistent_data.PhoneService, inconsistent_data.MultipleLines)
    inconsistent_data_phone_yes
else:
    print("No hay datos inconsistentes respecto al servicio telefónico.")

No hay datos inconsistentes respecto al servicio telefónico.

#### Búsqueda de datos inconsistentes en InternetService

In [210]:
inconsistent_data_internet = clients[(clients['InternetService'] == 'No') & ((clients['OnlineSecurity'] != 'No internet service') | (clients['OnlineBackup'] != 'No internet service') | (clients['DeviceProtection'] != 'No internet service') | (clients['TechSupport'] != 'No internet service') | (clients['StreamingTV'] != 'No internet service') | (clients['StreamingMovies'] != 'No internet service'))]

if not inconsistent_data_internet.empty:
    print("Datos inconsistentes encontrados respecto del servicio a internet:")
    inconsistent_data
else:
    print("No hay datos inconsistentes respecto del servicio a internet.")

No hay datos inconsistentes respecto del servicio a internet.

In [211]:
inconsistent_data_internet_dsl = clients[(clients['InternetService'] == 'DSL') & ((clients['OnlineSecurity'] == 'No internet service') | (clients['OnlineBackup'] == 'No internet service') | (clients['DeviceProtection'] == 'No internet service') | (clients['TechSupport'] == 'No internet service') | (clients['StreamingTV'] == 'No internet service') | (clients['StreamingMovies'] == 'No internet service'))]

if not inconsistent_data_internet_dsl.empty:
    print("Datos inconsistentes encontrados respecto del servicio a internet:")
    inconsistent_data_internet_dsl
else:
    print("No hay datos inconsistentes respecto del servicio a internet.")

No hay datos inconsistentes respecto del servicio a internet.

In [212]:
inconsistent_data_internet_fiber = clients[(clients['InternetService'] == 'Fiber optic') & ((clients['OnlineSecurity'] == 'No internet service') | (clients['OnlineBackup'] == 'No internet service') | (clients['DeviceProtection'] == 'No internet service') | (clients['TechSupport'] == 'No internet service') | (clients['StreamingTV'] == 'No internet service') | (clients['StreamingMovies'] == 'No internet service'))]

if not inconsistent_data_internet_fiber.empty:
    print("Datos inconsistentes encontrados respecto del servicio a internet:")
    inconsistent_data_internet_fiber
else:
    print("No hay datos inconsistentes respecto del servicio a internet.")

No hay datos inconsistentes respecto del servicio a internet.

### Validar tipos de datos

In [213]:
clients.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

* Hay que convertir las columnas categóricas en numéricas para poder aplicar modelos.

## Feature Engineering

* Se listarán las categorías para convertirlas en números para facilitar el procesamiento de los datos.

#### Conversión a float de la columna "TotalCharges" y fill de celdas vacías

In [214]:
custom_clients = clients

In [215]:
custom_clients[custom_clients['TotalCharges'] == ' ']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [216]:
custom_clients['TotalCharges'] = pd.to_numeric(custom_clients['TotalCharges'], errors='coerce')
custom_clients.TotalCharges.fillna(0, inplace=True)

In [217]:
custom_clients.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [227]:
custom_clients.to_csv("Clients-cleaned.csv")

### Preparación del dataset de entrenamiento y test

In [218]:
categorial_features_X = ["gender", "Partner", "Dependents", "PhoneService", "MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup", "DeviceProtection", "TechSupport", "StreamingTV", "StreamingMovies", "Contract", "PaperlessBilling", "PaymentMethod"]
categorical_features_y = ["Churn"]

In [219]:
X = clients.drop("customerID", axis=1)
X = X.drop("Churn", axis=1)
X.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65

In [220]:
y = custom_clients.Churn
y.head()

0     No
1     No
2    Yes
3     No
4    Yes
Name: Churn, dtype: object

In [221]:
one_hot = OneHotEncoder()
transformer_X = ColumnTransformer([("one hot", one_hot, categorial_features_X)], remainder="passthrough")
transformed_X = transformer_X.fit_transform(X)

In [222]:
pd.DataFrame(transformed_X)

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,29.85,29.85
1,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,34.0,56.95,1889.50
2,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,2.0,53.85,108.15
3,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,45.0,42.30,1840.75
4,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,24.0,84.80,1990.50
7039,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,72.0,103.20,7362.90
7040,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,11.0,29.60,346.45
7041,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,4.0,74.40,306.60
7042,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,66.0,105.65,6844.50

In [223]:
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)

## Entrenamiento de modelos

In [224]:
clf = LogisticRegression(random_state=13, max_iter=1000).fit(X_train, y_train)

* Evaluar la precisión del modelo en el dataset de test:

In [226]:
print("Accuracy Logistic Regression:", clf.score(X_test, y_test))

Accuracy Logistic Regression: 0.8183108587650816